body{

}
.toparea{
    padding:0px;
    background:black;
    text-align:center;
    color:white;
}
.toparea h1{
    font-size:15px;
    margin-top:5px;
}
.toparea h5{
    font-size:15px;
    margin-top:5px;
}
.toparea h5:hover{
    cursor: pointer;
    text-decoration:underline;
    text-decoration-thickness:2px;
}
.toparea a{
    text-decoration: none;
    color:white;
}
.menuarea{
    padding:10px 0;
    background:white;
}
.mega-menu {
    position:static;
    padding-top:20px;
   

}
.mega-menu .dropdown-menu {
  position: absolute;  
  top: 100%;            
  left: 0;              
  right: 0;             
  width: 75vw;         
  min-width: unset;     
  border-radius: 0;
}
.mega-menu h6 {
      font-weight: bold;
      margin-bottom: 1rem;
      
}
.mega-menu .dropdown-menu img{
    width: 140px;
    height:150px;
}

.mega-menu a {
      text-decoration: none;
      color: #000;
      display: block;
      margin-bottom: 0.5rem;
}
.mega-menu a:hover{
    text-decoration:underline;
}   
    
.boxlogo{
    padding:10px 0;
  

}
.boxshop{
    padding-left:130px;
}
.boxgift{
    padding-left:130px;
}
.barea{
    padding:3px 0;
    background-color:white;
}
 .carousel-item {
    position: relative;
  }
  .carousel-item::before {
    content: "";
    position: absolute;
    inset: 0;  /* covers full width + height */
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0));
    z-index: 1;
  }
.carousel-caption{
      position: absolute;
      top: 30%;
      left: 10%;
      text-align: left;
      color: white;
      z-index: 2;
      max-width: 500px;
     
    
    
}
.carousel-caption h1 {
      font-size: 2.7rem;
      font-weight: bold;
      font-family:'Times New Roman', Times, serif;
}
.carousel-caption p {
      font-size: 1.2rem;
      margin-top: 10px;
      font-family:comic sans ms;
 }
@media (max-width: 767px) {
  .carousel-caption {
    top: 15%;          /* move text a little higher */
    left: 5%;
    right: 5%;
    max-width: 80%;
  }
  .carousel-caption h1 {
    font-size: 1.3rem; /* smaller heading */
    line-height: 1.4;
  }
  .carousel-caption p {
    font-size: 0.9rem; /* smaller paragraph */
  }
  .btn-custom {
    padding: 6px 16px;
    font-size: 0.9rem;
  }
}
.carea{
    padding:30px 0;
    background:white;
}
.box4{
    padding:7px 0;
    background-image:url('k.jpg');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
}
.box4:hover{
    cursor: pointer;
}
.kbox{
    padding-left:150px;
    padding-top:190px;
   
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    
}
.kbox a{
    text-decoration: none;
    color:white;
}
.box5{
    padding:7px 0;
    background-image:url('e.webp');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;

}
.box5:hover{
    cursor: pointer;
}
.ebox{
    padding-left:100px;
    padding-top:190px;
    color:white;
    font-family:'Times New Roman', Times, serif;
}
.ebox a{
    text-decoration: none;
    color:white;
}
.box6{
    padding:7px 0;
 
    background-image:url('t.webp');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;

}
.box6:hover{
    cursor: pointer;
}
.tbox{
    padding-left:100px;
    padding-top:190px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    transition: transform 0.9s ease;
}
.tbox a{
    text-decoration: none;
    color:white;
}
.darea{
    padding:10px 0;
    background:white;
}
.box7{
    padding:120px 0;
    background-image:url('mn.webp');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
}
.textbox3{
    padding-left:30px;
}
.textbox3 h1{
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
}
.textbox3 p{
    font-family:comic sans ms;
}
.earea{
    padding:30px 0;
    background:white;
}
.box8{
    padding:80px 0;
    background-image:url('bc.jpg');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
    
}
.abox8{
    padding-top:300px;
    padding-left:30px;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.bbox8{
    padding-left:30px;
    padding-top:10px;
}
.box9{
    padding:38px 0;
    background-image:url('ed.jpg');
				background-size:cover;
				background-position:center;
                background-repeat:no-repeat;
}
.abox9{
    color:white;
    padding-left:30px;
    padding-top:110px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.bbox9{
    padding-left:30px;
    padding-top:10px;
}
.box10{
    padding:38px 0;
    background-image:url('ef.jpg');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
}
.abox10{
    color:white;
    padding-left:30px;
    padding-top:140px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.bbox10{
    padding-left:30px;
    padding-top:10px;
}
.farea{
    padding:20px 0;
    background:white; 
}
.box11{
    padding:120px 0;
    background-image:url('bj.webp');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;    

}
.garea{
    padding:80px 0;
    background:white;
}
.box12{
    padding:10px 0;
    background:#F1F5F9;
    overflow: hidden;
}
.abox12{
    padding:150px 0;
    background-image:url('bi.webp');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat; 
     transition: transform 0.6s ease;    
}
.abox12:hover{
    transform:scale(1.1);
}
.bbox12{
    text-align:center;
    font-family:comic sans ms;
}
.cbox12{
    text-align:center;
    font-family:Arial;
}
.box13{
    padding:10px 0;
    background:#F1F5F9;
    overflow: hidden;
}
.abox13{
    padding:150px 0;
    background-image:url('ek.webp');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
    transition: transform 0.6s ease;   
}
.abox13:hover{
    transform:scale(1.1);
}
.bbox13{
    text-align:center;
    font-family:comic sans ms;
}
.cbox13{
    text-align:center;
    font-family:comic sans ms;    
}
.box14{
    padding:10px 0;
    background:#F1F5F9;
    overflow: hidden;    
}
.abox14{
    padding:150px 0;
    background-image:url('sh.webp');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
    transition: transform 0.6s ease;      
}
.abox14:hover{
    transform:scale(1.1);
}
.bbox14{
    text-align:center;
    font-family:comic sans ms;
}
.cbox14{
    text-align:center;
    font-family:comic sans ms;    
}
.box15{
    padding:10px 0;
    background:#F1F5F9;
    overflow: hidden;
}
.abox15{
    padding:150px 0;
    background-image:url('bo.webp');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat; 
    transition: transform 0.6s ease;    
}
.abox15:hover{
    transform:scale(1.1);
}
.bbox15{
    text-align:center;
    font-family:comic sans ms;    
}
.cbox15{
    text-align:center;
    font-family:comic sans ms;    
}
.textbox1{
    color:white;
    padding-left:40px;
    font-size:15px;
}
.textbox1 p{
    font-family:comic sans ms;
}
.textbox1 h1{
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
}
.harea{
    padding:10px 0;
    background:white;
}
.box16{
    padding:100px 0;
    background-image:url('kl.jpg');
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat; 
}
.wbox{
    color:white;
    padding-left:40px;
}
.wbox h1{
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
}
.wbox p{
    font-family:comic sans ms;
}
.footerarea{
    padding:50px 0;
    background:black;
}
.footerarea h2{
    color:white;
}
.footerarea li{
    margin-left:-30px;
    color:wheat;
    list-style:none;
}
.footerarea li:hover{
    text-decoration:underline;
    cursor: pointer;
}
.footerarea hr{
    color:white;
}
.footerarea p{
    color:white;
    font-size:14px;
    padding-left:30px;
}